.seat {
  // background-color: $color-primary;
  height: 28px;
  width: 28px;
  color: $color-seat-number;
  display: inline-block;
  justify-content: center;
  align-items: center;  

  // Older browsers
  // background-image: url(../src/icons/chevron-thin-right.svg);
  // background-size: cover;

  // Newer browsers - masks
//  @supports (-webkit-mask-image: url()) or (mask-image: url()){
    background-color: $color-primary;
    -webkit-mask-image: url(~/img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(~/img/chevron-thin-right.svg);
    mask-size: cover;
    background-image: none;
  //}

  &__number{
    font-size: 10px
  }

  &--north{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &--south {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &--east {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &--west {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &--enabled {
    // cursor: pointer;
    // &:hover { background-color: $color-secondary; }
  }

  &--selected {
    cursor: pointer;
    background-color: $color-tertiary;
  }

  &--reserved {
    cursor: not-allowed;
    background-color: $color-seat-reserved;
  }
}
