.Seat {
  background-color: #4FC3F7;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .SeatNumber{
    font-size: 10px
  }
}

.Seat--north {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Seat--south {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.Seat--east {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Seat--west {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.Seat--enabled {
  cursor: pointer;
  &:hover { background-color: #03A9F4; }
}

.Seat--selected {
  cursor: pointer;
  background-color: #4CAF50;
}

.Seat--reserved {
  cursor: not-allowed;
  background-color: #E0E0E0;
}