$color-primary: #4FC3F7;
$color-secondary: #03A9F4;
$color-tertiary: #4CAF50;
$color-loading:rgba(240,240,240,0.9);
$color-seat-reserved: #E0E0E0;
$color-seat-number: #fff;
$color-row-number: #9E9E9E;
$color-row-selection: #F5F5F5;
